.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-layout-layout {
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-auto-columns: 1fr;
  justify-content: center;
  padding: 20px;
}

.w-layout-cell {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

a {
  text-decoration: underline;
}

a:hover {
  color: red;
}

a:active {
  color: #00c5c5;
}

.nav_section {
  z-index: 9;
  background-color: #0000;
  border-bottom: .5px #333;
  position: sticky;
  top: 0;
}

.navbar {
  background-color: #fffff6;
  border-bottom: .5px #000;
  border-radius: 0;
  justify-content: center;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
}

.nav_container {
  flex: 1;
  justify-content: space-between;
  align-items: center;
  width: auto;
  max-width: none;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  overflow: visible;
}

.brand-2 {
  flex: 0 auto;
  position: relative;
}

.nav_buttons_container {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  text-align: center;
  letter-spacing: .7px;
  flex: 1;
  justify-content: center;
  align-self: auto;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  font-size: 9px;
  display: flex;
}

.navi_start_project {
  float: none;
  clear: none;
  display: none;
  position: relative;
}

.div-block-55 {
  background-color: #000;
  width: 25px;
  height: 25px;
}

.bg_image_section {
  z-index: 0;
  background-image: url('../images/Body-lau-OG.avif');
  background-position: 50% 0;
  background-size: cover;
  background-attachment: scroll;
  width: 100vw;
  height: 100vh;
  margin-top: 0;
  display: block;
  position: fixed;
  inset: 0 0% auto;
  overflow: hidden;
}

.intro_section {
  z-index: 2;
  background-color: #fffff6;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 70vh;
  display: block;
  position: relative;
  top: 1px;
}

.intro_container {
  flex-flow: column;
  justify-content: center;
  align-items: stretch;
  max-width: none;
  height: 100%;
  margin: auto 0;
  padding: 0% 20px;
  display: flex;
}

.intro_parragraph {
  letter-spacing: .2px;
  flex: 1;
  width: auto;
  font-size: 16px;
  line-height: 120%;
}

.title_div {
  flex: 1;
  width: 50%;
}

.intro_title {
  color: #000;
  flex: 1;
  width: auto;
  margin-top: auto;
  margin-bottom: auto;
  font-family: Montserrat, sans-serif;
  font-size: 7em;
  font-weight: 400;
  line-height: 100%;
  display: block;
}

.intro_button_secondary {
  color: #000;
  letter-spacing: 1px;
  background-color: #0000;
  border: 1px solid #000;
  border-radius: 0;
  margin-left: 0;
  padding-left: 35px;
  padding-right: 35px;
}

.intro_wrapper {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

.intro_text_div {
  flex: 0 auto;
  width: 50%;
  padding-left: 125px;
  padding-right: 125px;
}

.intro_button {
  letter-spacing: 1px;
  background-color: #000;
  border-radius: 3px;
  margin-right: 20px;
  padding-left: 35px;
  padding-right: 35px;
  display: inline-block;
}

.intro_buttons {
  width: auto;
  margin-top: 20px;
}

.web_text {
  flex: 0 auto;
  width: 50vw;
  padding: 20px 125px;
}

.text-block-20 {
  font-size: 8px;
}

.web_heading {
  color: #000;
  flex: 0 auto;
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
}

.little_notes {
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
  flex: 0 auto;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-flow: row;
  place-content: start center;
  height: 30px;
  margin-top: 20px;
  padding-left: 0;
  font-size: 9px;
}

.intro_parragraph_invert {
  color: #fff;
  letter-spacing: .5px;
  flex: 1;
  width: 50ch;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 200;
  line-height: 120%;
}

.ourwork_section {
  z-index: 2;
  opacity: 1;
  mix-blend-mode: normal;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
  display: block;
  position: relative;
  top: 0;
}

.intro_button_invert {
  color: #000;
  letter-spacing: 1px;
  background-color: #fff;
  border-radius: 3px;
  padding-left: 35px;
  padding-right: 35px;
}

.section_title {
  color: #fff;
  flex: 1;
  width: 12ch;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 6em;
  font-weight: 400;
  line-height: 100%;
}

.web_button {
  margin-top: 20px;
}

.ourwork_title_wrapper {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 60px 20px 0;
  display: flex;
}

.webs_container {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-flow: column;
  flex: 1;
  justify-content: space-between;
  align-items: stretch;
  max-width: none;
  height: auto;
  margin: 0;
  padding: 0 20px;
  display: flex;
  position: static;
  top: 0;
  overflow: hidden;
}

.websites_portfolio {
  z-index: 2;
  background-color: #000;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 0;
  display: block;
  position: relative;
  overflow: visible;
}

.work_content_wrapper {
  flex: 1;
  width: 100vw;
  max-width: none;
  height: auto;
  display: flex;
  position: relative;
  overflow: scroll;
}

.grid-2 {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  place-content: center;
  width: auto;
  max-width: none;
}

.process_button {
  border: 0 solid #000;
  border-radius: 0;
  height: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
}

.process_button.black {
  padding-top: 40px;
  padding-bottom: 40px;
}

.little_number {
  color: #fff;
  flex: 0 auto;
  width: auto;
  margin: 0 20px 0 40px;
}

.process_container {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: column;
  flex: 1;
  justify-content: space-between;
  align-items: stretch;
  max-width: none;
  height: 100%;
  margin: 0;
  padding: 0 20px;
  display: block;
}

.website_process {
  z-index: 2;
  background-color: #000;
  border-radius: 0;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 0 auto auto;
  padding-top: 100px;
  padding-bottom: 10px;
  display: block;
  position: relative;
}

.div_process01 {
  border-top: .5px solid #fff;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
}

.big_button {
  color: #000;
  text-align: center;
  background-color: #fff;
  border-radius: 3px;
  flex: 1;
  margin-left: 220px;
  margin-right: 220px;
}

.webprocess_text {
  color: #fff;
  text-align: left;
  letter-spacing: 1px;
  flex: 1;
  width: 2em;
  margin: 0 40px;
  font-size: 12px;
  font-weight: 300;
}

.memberships_box-numbers {
  border: 0 solid #000;
  border-radius: 0;
  height: auto;
  padding: 0 20px;
}

.membership_numbers {
  color: #000;
}

.membership_text {
  letter-spacing: 0;
  width: 15ch;
  font-size: 14px;
  font-weight: 500;
  line-height: 120%;
}

.membership_section {
  z-index: 2;
  background-color: #0000;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: auto;
  display: none;
  position: relative;
}

.memberhsip_title {
  color: #000;
  border-bottom: .5px solid #000;
  padding-bottom: 10px;
}

.big_button-invert {
  color: #fff;
  text-align: center;
  background-color: #000;
  border-radius: 3px;
  flex: 1;
  margin-left: 220px;
  margin-right: 220px;
}

.membership_container {
  grid-column-gap: 42px;
  grid-row-gap: 42px;
  background-color: #fffff6;
  border-radius: 35px;
  flex-flow: column;
  flex: 1;
  justify-content: space-between;
  align-items: stretch;
  max-width: 1200px;
  height: 100%;
  margin: 0 20px;
  padding: 60px 100px 0;
  display: flex;
}

.section_title-invert {
  color: #000;
  flex: 1;
  width: 12ch;
  margin: auto;
  font-size: 4em;
  font-weight: 500;
  line-height: 100%;
}

.membership_title {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  text-align: center;
  flex-flow: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 40px;
  display: flex;
}

.membership_wrapper {
  grid-column-gap: 21px;
  grid-row-gap: 21px;
  justify-content: space-around;
  align-items: stretch;
  margin-bottom: 60px;
  display: flex;
}

.memberships_box {
  border: .5px solid #000;
  border-radius: 25px;
  height: auto;
  padding: 48px 22px;
}

.body {
  background-color: #fffff6;
  padding-top: 0;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  overflow: visible;
}

.portfolio_camera {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex: 1;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: flex-start;
  width: 300vw;
  height: auto;
  display: flex;
  overflow: visible;
}

.image {
  max-width: none;
  height: 80vh;
}

.image.primera {
  height: 50vh;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 145px;
  padding-right: 145px;
}

.div-block-57 {
  height: 1px;
  position: relative;
}

.portfolio_title {
  color: #fff;
  flex: 1;
  width: auto;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 3em;
  font-weight: 500;
  line-height: 100%;
}

.portfolio_text {
  color: #fff;
  letter-spacing: .5px;
  flex: 1;
  width: auto;
  font-size: 9px;
  font-weight: 200;
  line-height: 120%;
}

.potfolio_title_wrapper {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
}

.div-block-58 {
  z-index: 9;
  width: 60px;
  margin-bottom: 0;
  padding-top: 0;
  display: block;
  position: absolute;
  inset: 0%;
  transform: rotate(-90deg);
}

.intro_button-copy {
  letter-spacing: 1px;
  background-color: #000;
  border-radius: 3px;
  padding-left: 35px;
  padding-right: 35px;
}

.intro_button_secondary_invert {
  color: #fff;
  letter-spacing: 1px;
  background-color: #0000;
  border: 1px solid #fff;
  border-radius: 3px;
  margin-left: 10px;
  padding-left: 35px;
  padding-right: 35px;
}

.intro_button_secondary_invert.form {
  margin-top: 10px;
  margin-left: 0;
}

.mouse_animation {
  flex: 0 auto;
  width: 50px;
  height: 50px;
  margin: 38vh 0 38vh 20px;
  position: absolute;
  inset: 0% auto auto 0%;
  overflow: visible;
  transform: rotate(-90deg);
}

.work_content_wrapper-2, .work_content_wrapper-3, .work_content_wrapper-4 {
  flex: 1;
  width: 100vw;
  max-width: none;
  height: auto;
  display: flex;
  position: relative;
  overflow: scroll;
}

.portfolio_track {
  overflow: scroll;
}

.portfolio_section {
  z-index: 2;
  background-color: pink;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 0;
  display: none;
  position: relative;
  overflow: visible;
}

.portfolio_container {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-flow: column;
  flex: 1;
  justify-content: space-between;
  align-items: stretch;
  max-width: none;
  height: 100%;
  margin: 0;
  padding: 0 20px;
  display: flex;
  position: static;
  top: 0;
  overflow: hidden;
}

.website_section {
  background-color: #000;
  border-radius: 0 0 25px 25px;
  height: 100vh;
  padding: 100px 90px;
  position: relative;
}

.grid-3 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.container {
  background-color: red;
  margin-top: auto;
  margin-bottom: auto;
}

.grid-4 {
  grid-column-gap: 42px;
  grid-row-gap: 42px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  display: none;
}

.work_container {
  background-color: #fffff6;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  max-width: none;
  height: auto;
  position: relative;
}

.cell {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  border-radius: 0;
  justify-content: flex-start;
  display: flex;
}

.cell-2 {
  display: flex;
}

.image-2 {
  border-radius: 10px;
  flex: 0 auto;
  width: 100%;
  height: auto;
}

.image-2.extra_space {
  flex: 1;
  margin-bottom: 20px;
  position: static;
}

.image-2.full {
  flex: 1;
}

.image-3 {
  flex: 0 auto;
}

.image-4 {
  flex: 0 auto;
  height: auto;
}

.image-5 {
  height: auto;
}

.cell-3 {
  flex-flow: row;
  justify-content: space-between;
  display: block;
}

.image-6 {
  flex: 0 auto;
  width: 44%;
}

.image-7 {
  flex: 0 auto;
  width: 50%;
}

.image-8 {
  width: auto;
  max-width: 100%;
  height: auto;
  overflow: clip;
}

.image-9 {
  height: 75%;
}

.cell-4, .cell-5 {
  display: block;
}

.quick-stack {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.cell-6 {
  justify-content: flex-start;
}

.cell-7 {
  justify-content: center;
  align-items: center;
}

.left-arrow, .right-arrow, .slide-nav {
  display: none;
}

.slider {
  background-color: #0000;
}

.work_title {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-flow: column;
  flex: 1;
  justify-content: space-between;
  align-items: stretch;
  max-width: none;
  height: auto;
  margin: 0;
  padding: 0 20px;
  display: flex;
  position: sticky;
  top: 33px;
  overflow: hidden;
}

.footer-dark {
  background-color: #fffff6;
  border-bottom: 1px solid #e4ebf3;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 50px 30px 15px;
  position: relative;
}

.container-2 {
  width: 100%;
  max-width: none;
  margin-left: auto;
  margin-right: auto;
}

.footer-wrapper {
  justify-content: center;
  align-items: center;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.footer-brand {
  flex: 0 auto;
  width: 150px;
  margin-right: 74px;
}

.footer-content {
  grid-column-gap: 70px;
  grid-row-gap: 40px;
  flex: 0 auto;
  grid-template-rows: auto;
  grid-template-columns: auto auto 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-end;
  align-items: flex-start;
  display: flex;
}

.footer-block {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.title-small {
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.footer-link {
  color: #1a1b1f;
  margin-top: 12px;
  margin-bottom: 6px;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

.footer-link:hover {
  color: #1a1b1fbf;
}

.footer-social-block {
  justify-content: flex-start;
  align-items: center;
  margin-top: 12px;
  margin-left: -12px;
  display: none;
}

.footer-social-link {
  margin-left: 12px;
}

.footer-divider {
  background-color: #e4ebf3;
  width: 100%;
  height: 1px;
  margin-top: 70px;
  margin-bottom: 15px;
}

.footer-copyright-center {
  text-align: center;
  font-size: 14px;
  line-height: 16px;
}

.features-metrics {
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  padding: 60px 30px;
  position: relative;
}

.features-wrapper {
  justify-content: space-around;
  align-items: center;
  display: flex;
}

.features-block {
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.features-title {
  margin-bottom: 8px;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
}

.features-title-small {
  font-size: 24px;
  line-height: 32px;
}

.section_container {
  background-color: #0000;
  border-radius: 20px;
  max-width: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.form_title {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
}

.text-field {
  background-color: #ffffff4f;
  border: .5px solid #fff;
  border-radius: 3px;
}

.field-label {
  color: #fff;
  font-weight: 100;
}

.div-block-59 {
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  display: none;
}

.nav-link {
  display: none;
}

.div-block-60 {
  grid-column-gap: 22px;
  grid-row-gap: 22px;
  justify-content: space-around;
  align-items: center;
  display: flex;
}

.website_container {
  grid-column-gap: 11px;
  grid-row-gap: 11px;
  justify-content: space-around;
  align-items: center;
  max-width: none;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
}

.success-message {
  color: #fff;
  background-color: #0000;
  border: .5px solid green;
}

.error-message {
  color: #fff;
  background-color: #0000;
  border: .5px solid red;
}

.steps_title {
  color: #fff;
  flex: 0 auto;
  width: 12ch;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 3em;
  font-weight: 500;
  line-height: 100%;
}

.image-10 {
  width: 100%;
  max-width: none;
}

.website_track {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 450px;
  overflow: scroll;
}

.website_wrap {
  flex: 1;
  overflow: visible;
}

.div-block-62 {
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}

.lottie-animation {
  margin-top: 60px;
}

.div-block-63 {
  flex: 1;
  width: 50px;
  height: 50px;
}

.lottie-animation-2 {
  transform: rotate(90deg);
}

.mouse {
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}

.cell-8 {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: space-around;
}

.intro_title-copy {
  color: #000;
  flex: 1;
  width: auto;
  margin-top: auto;
  margin-bottom: auto;
  font-family: Montserrat, sans-serif;
  font-size: 7em;
  font-weight: 400;
  line-height: 100%;
  display: none;
}

.div-block-64 {
  opacity: .55;
  filter: blur(1px);
  mix-blend-mode: color-burn;
  background-image: radial-gradient(circle, #fff, #000 46%);
  flex: 1;
  position: absolute;
  inset: 0%;
}

@media screen and (max-width: 991px) {
  a, a:active {
    color: #000;
  }

  .navbar {
    padding-left: 0;
    padding-right: 0;
  }

  .nav_container {
    padding-left: 20px;
    padding-right: 10px;
  }

  .brand-2.w--current {
    flex: 1;
  }

  .nav_buttons_container {
    background-color: #0ff;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 15px;
  }

  .intro_section {
    height: auto;
  }

  .intro_container {
    padding-top: 6%;
    padding-bottom: 6%;
  }

  .intro_parragraph {
    margin-top: 0;
    margin-bottom: 40px;
  }

  .title_div {
    width: auto;
  }

  .intro_title {
    font-size: 6em;
  }

  .intro_wrapper {
    grid-column-gap: 18px;
    grid-row-gap: 18px;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .intro_text_div {
    flex: 0 auto;
    width: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .intro_buttons {
    margin-top: 0;
  }

  .web_text {
    flex: 1;
    width: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .web_heading {
    flex: 1;
    align-self: auto;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .little_notes {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex: 1;
    margin-top: 0;
    font-size: 7px;
  }

  .intro_parragraph_invert {
    margin-bottom: 40px;
  }

  .section_title {
    text-align: left;
    width: auto;
    font-size: 5em;
  }

  .ourwork_title_wrapper {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex-flow: column;
    flex: 1;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 100px 0 60px;
  }

  .website_process {
    margin-bottom: 0;
    padding-top: 100px;
    padding-bottom: 2px;
  }

  .work_title {
    grid-column-gap: 19px;
    grid-row-gap: 19px;
  }

  .container-2 {
    max-width: 728px;
  }

  .footer-wrapper {
    justify-content: space-around;
    align-items: center;
  }

  .footer-content {
    grid-column-gap: 60px;
  }

  .features-wrapper {
    justify-content: space-between;
  }

  .website_container {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex-flow: wrap;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    margin-bottom: 43px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
  }

  .menu-button {
    background-color: #0000;
  }

  .menu-button.w--open {
    background-color: #0ff;
  }

  .intro_title-copy {
    font-size: 6em;
  }
}

@media screen and (max-width: 767px) {
  .intro_parragraph {
    font-size: 14px;
    line-height: 125%;
  }

  .intro_title {
    font-size: 5em;
  }

  .web_text {
    flex: 1;
  }

  .little_notes {
    grid-column-gap: 17px;
    grid-row-gap: 17px;
    flex: 1;
  }

  .intro_parragraph_invert {
    width: auto;
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 125%;
  }

  .section_title {
    font-size: 3em;
  }

  .ourwork_title_wrapper {
    flex: 0 auto;
    padding-top: 0;
  }

  .little_number {
    flex: 0 auto;
    margin-right: 5px;
  }

  .webprocess_text {
    margin-left: 10px;
    margin-right: 20px;
  }

  .footer-dark {
    padding-left: 15px;
    padding-right: 15px;
  }

  .container-2 {
    text-align: left;
  }

  .footer-wrapper {
    flex-flow: row;
    align-items: center;
    display: flex;
  }

  .footer-brand {
    width: 100px;
    margin-right: 0;
  }

  .footer-content {
    grid-template-columns: 1fr;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 40px;
  }

  .footer-block {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-link:hover {
    color: #1a1b1fbf;
  }

  .footer-social-block {
    margin-top: 20px;
    margin-left: -20px;
  }

  .footer-social-link {
    margin-left: 20px;
  }

  .footer-divider {
    margin-top: 60px;
  }

  .features-metrics {
    padding: 60px 15px;
  }

  .features-wrapper {
    flex-wrap: wrap;
    margin-bottom: -40px;
  }

  .features-block {
    width: 50%;
    margin-bottom: 40px;
  }

  .form_title {
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: block;
  }

  .website_container {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    flex-flow: column;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    place-content: start flex-start;
    place-items: start stretch;
    margin-top: 0;
    display: grid;
  }

  .steps_title {
    flex: 1;
    font-size: 2.5em;
  }

  .website_wrap {
    flex: 0 auto;
  }

  .div-block-62 {
    z-index: 9;
    margin-top: 0;
    display: none;
    position: relative;
  }

  .mouse {
    z-index: 9;
    width: auto;
    height: auto;
    margin-top: 0;
    display: block;
    position: relative;
  }

  .intro_title-copy {
    font-size: 5em;
  }
}

@media screen and (max-width: 479px) {
  .nav_section {
    background-color: red;
  }

  .navbar {
    padding-left: 0;
    padding-right: 0;
  }

  .nav_container {
    background-color: #0000;
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
    padding-right: 0;
  }

  .brand-2.w--current {
    padding-left: 0;
  }

  .nav_buttons_container {
    color: #000;
    background-color: #0ff;
    font-weight: 500;
  }

  .bg_image_section {
    background-size: cover;
  }

  .intro_section {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    height: auto;
    padding-top: 60px;
    padding-bottom: 19px;
  }

  .intro_container {
    height: auto;
    padding: 0% 10px;
    display: block;
  }

  .intro_parragraph {
    margin-bottom: 20px;
    font-size: 18px;
  }

  .title_div {
    word-break: normal;
    flex: 0 auto;
    align-self: auto;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    font-size: 200%;
    overflow: hidden;
  }

  .intro_title {
    text-overflow: clip;
    overflow-wrap: normal;
    width: auto;
    margin-bottom: 0;
    padding-top: 20px;
    font-size: 200%;
    font-weight: 500;
    display: none;
    overflow: visible;
  }

  .intro_button_secondary {
    text-align: center;
    font-size: 9px;
    display: block;
  }

  .intro_wrapper {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex: 1;
    justify-content: space-between;
    align-items: flex-start;
    height: auto;
    display: block;
  }

  .intro_text_div {
    flex: 0 auto;
    height: auto;
  }

  .intro_button {
    text-align: center;
    margin-bottom: 10px;
    margin-right: 0;
    font-size: 9px;
    display: block;
  }

  .intro_buttons {
    text-align: center;
    flex-flow: column;
    margin-top: 60px;
    display: flex;
  }

  .web_text {
    margin-bottom: 60px;
  }

  .little_notes {
    text-align: left;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr;
    justify-content: start;
    font-size: 9px;
  }

  .intro_parragraph_invert {
    font-size: 15px;
  }

  .section_title {
    font-size: 2.9em;
  }

  .ourwork_title_wrapper {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .ourwork_title_wrapper.web {
    padding-left: 10px;
    padding-right: 10px;
  }

  .little_number {
    flex: 1;
    margin-left: 10px;
  }

  .process_container {
    padding-left: 0;
    padding-right: 0;
  }

  .website_process {
    padding-top: 60px;
  }

  .div_process01 {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    flex-flow: column;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .webprocess_text {
    flex: 0 auto;
    width: auto;
  }

  .intro_button_secondary_invert {
    margin-top: 10px;
    margin-left: 0;
  }

  .cell {
    display: block;
  }

  .image-2.extra_space {
    margin-bottom: 5px;
  }

  .quick-stack {
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .cell-6 {
    flex-flow: wrap;
  }

  .work_title {
    padding-left: 10px;
    padding-right: 10px;
  }

  .footer-dark {
    border-top-left-radius: 15px;
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .container-2 {
    max-width: none;
  }

  .footer-wrapper {
    flex-flow: column;
    justify-content: space-around;
    align-items: flex-start;
  }

  .footer-content {
    flex-flow: column;
  }

  .footer-divider {
    margin-top: 20px;
  }

  .footer-copyright-center {
    text-align: left;
    width: 80vw;
  }

  .website_container {
    grid-template-columns: 1fr;
    margin-top: 60px;
  }

  .steps_title {
    margin-left: 10px;
  }

  .div-block-61 {
    flex: 0 auto;
  }

  .lottie-animation {
    margin-top: 0;
  }

  .image-11 {
    margin-top: -39px;
  }

  .cell-8 {
    grid-column-gap: 6px;
    grid-row-gap: 6px;
    flex-flow: row;
    justify-content: space-between;
    align-items: stretch;
  }

  .menu-button {
    background-color: #0000;
  }

  .menu-button.w--open {
    background-color: #0ff;
  }

  .icon {
    mix-blend-mode: normal;
  }

  .intro_title-copy {
    text-overflow: clip;
    overflow-wrap: normal;
    width: auto;
    margin-bottom: 0;
    padding-top: 20px;
    font-size: 200%;
    font-weight: 500;
    display: block;
    overflow: visible;
  }
}

#work.w-node-_45c52ac4-be2b-3b41-25b1-9eb7b81dc849-3acd58a1 {
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
  grid-template-columns: 1fr 1fr 1fr;
}

#w-node-_45c52ac4-be2b-3b41-25b1-9eb7b81dc84b-3acd58a1, #w-node-d859cdc1-b5e6-838d-f7e9-b926f9f75ada-3acd58a1 {
  grid-column: span 2 / span 2;
}

#w-node-_49bb71f5-a99b-2d7c-e57e-00d96fbfc460-3acd58a1 {
  grid-column: span 3 / span 3;
}

#w-node-_90cbebfd-e300-5316-79f0-900af46f71f1-3acd58a1 {
  grid-column: span 2 / span 2;
}

#w-node-_975ebca6-f015-4461-37d4-446e0ca65d8d-3acd58a1 {
  grid-row: span 3 / span 3;
}

#w-node-afeee3be-3bf7-4f25-4d0e-9e3de4c0435c-3acd58a1 {
  grid-area: span 2 / span 2 / span 2 / span 2;
}

#w-node-_188f6ee9-9d0f-1b53-7188-6f3add132fd0-3acd58a1 {
  grid-row: span 2 / span 2;
}

#w-node-_50c6374c-5fa3-aa13-51f4-63b3d75f633c-3acd58a1 {
  grid-area: span 2 / span 2 / span 2 / span 2;
}

#w-node-e0ae2955-b23c-2500-db87-6353ab8a77e5-3acd58a1 {
  grid-column: span 3 / span 3;
}

#w-node-e20c35f4-629b-91d5-1d62-4d1dd3e671b5-3acd58a1 {
  grid-column: span 2 / span 2;
}

#w-node-e650778d-9895-63f8-7d17-7dd9dd154ed2-3acd58a1, #w-node-e650778d-9895-63f8-7d17-7dd9dd154edb-3acd58a1, #w-node-e650778d-9895-63f8-7d17-7dd9dd154ee6-3acd58a1 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (max-width: 767px) {
  #w-node-_1400dd87-bd49-25e6-7750-fc9bf25b98a3-3acd58a1 {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }

  #w-node-_22f99969-2edb-ef24-8070-414402ca0507-3acd58a1 {
    order: -9999;
    grid-area: span 1 / span 2 / span 1 / span 2;
    place-self: center;
  }

  #w-node-_38c47fa0-4233-f782-7cb1-eb0cb3a491e8-3acd58a1 {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }
}

@media screen and (max-width: 479px) {
  #work.w-node-_45c52ac4-be2b-3b41-25b1-9eb7b81dc849-3acd58a1 {
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
    grid-template-columns: 1fr 1fr;
  }

  #w-node-_45c52ac4-be2b-3b41-25b1-9eb7b81dc84a-3acd58a1, #w-node-_45c52ac4-be2b-3b41-25b1-9eb7b81dc84b-3acd58a1, #w-node-_3494ab6d-0d45-db60-debc-0a8e760d092f-3acd58a1, #w-node-d859cdc1-b5e6-838d-f7e9-b926f9f75ada-3acd58a1, #w-node-_49bb71f5-a99b-2d7c-e57e-00d96fbfc460-3acd58a1, #w-node-_90cbebfd-e300-5316-79f0-900af46f71f1-3acd58a1 {
    grid-column: span 2 / span 2;
  }

  #w-node-_975ebca6-f015-4461-37d4-446e0ca65d8d-3acd58a1 {
    grid-area: span 3 / span 2 / span 3 / span 2;
  }

  #w-node-afeee3be-3bf7-4f25-4d0e-9e3de4c0435c-3acd58a1, #w-node-_188f6ee9-9d0f-1b53-7188-6f3add132fd0-3acd58a1, #w-node-_50c6374c-5fa3-aa13-51f4-63b3d75f633c-3acd58a1 {
    grid-area: span 2 / span 2 / span 2 / span 2;
  }

  #w-node-e0ae2955-b23c-2500-db87-6353ab8a77e5-3acd58a1 {
    grid-column: span 2 / span 2;
  }

  #w-node-e29603c1-8e37-a61b-39a1-bfa9d0f122f1-3acd58a1 {
    grid-column: span 1 / span 1;
  }
}


